
{% extends 'base.html' %}
{% load static %}

{% block title %} contact page{% endblock%}

{% block content %}

    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'website/images/bg_1.jpg'%}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Apointments</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home'%}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Appointment <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <center>

	 <h2>Review your information </h2>
      
	  <div class="container"><strong>First name:</strong> {{first_name}}</div><br> 
	  <div class="container"><strong>Your Appointment:</strong>{{appointment}}</div> <br>
	  <div class="container"><strong>Your Date:</strong>{{date}}</div> <br>
	  <div class="container"><strong>Your phone:</strong>{{phone}}</div> <br>

	  <br><br>
	  <strong>Note!:</strong> This appointment hasn't been set yet. we will contact you shortly via telephone to confirm your appointment
    </center>
	<br><br><br><br>
	
		
{% endblock %}

